html {
  position: relative;
  min-height: 100vh;
  font-size: 62.5%;
  color: white;
}

html body {
  background-color: #efefef;
}

.header, .footer {
  align-items: center;
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  min-height: 3rem;
  padding: 1rem;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3rem;
  pointer-events: none;
}

.link-green {
  color: #61dafb;
}

.link:hover {
  color: #ffffff;
}

aside {
  border: 1px solid #ccc;
  min-width: 20vw;
}

aside .ant-affix {
  min-height: 90vh;
}

aside .ant-anchor-wrapper {
  background: transparent;
}

main {
  min-height: 90vh;
  padding: 0 1rem;
}

main h2, main h3 {
  border-bottom: 1px solid #aaaaaa;
  margin: 2rem 0;
  padding-bottom: 1rem;
}

.header h1 {
  color: #ffffff;
  font-size: 2rem;
}

main h2 {
  font-size: 2.5rem;
}

main h3 {
  font-size: 2rem;
}

main h4 {
  font-size: 1.5rem;
}

main p {
  font-size: 1.2rem;
}

.fgrow {
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
